<%= render 'shared/error', obj: @article %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %> 
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <%= f.text_area :description, rows: 20, class: "form-control", placeholder: "Write some wonderful things!" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <%= f.submit class: 'btn btn-info' %>
          <button class="btn btn-link"><%= link_to "Back to posts listing", articles_path %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
